<nav class="navbar">
  <h1>My Books</h1> <!-- Update title to reflect "My Books" -->
  <div class="links">
      <a href="/">Home</a> <!-- Update the link to point to the home page -->
      <a class="new-item-link" href="/addbook">New Book</a> <!-- Update the link for adding a new book -->
  </div>
</nav>